
#input-add-money {
  padding: 10px; /* Adjust the value as needed */
}

.modal-action {
  display: flex;
  justify-content: center;
}
.btn {
  background-color: #B4F461;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}