#input-add-money {
  padding: 10px; 
}

.modal-action {
  display: flex;
  justify-content: center;
}
.btn {
  background-color: #B4F461;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}
.card-actions {
  display: flex;
  justify-content: center;
}
.modal-box {
  position: fixed;
  top: 30%;
  left: 35%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  z-index: 1000;
}
.sticky-header {
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
  z-index: 1000;  
  }